# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Arquivos de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db